In [8]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn.model_selection import train_test_split
import scipy.stats
from sklearn import metrics

In [9]:
# Importing the Data

data = pd.read_csv("OnlineRetail.csv")


print(data)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

             InvoiceDate  UnitPrice  CustomerID         Country
0       01/12/2010 08:26       2.55     17850.0  United Kingdom
1       01/12/2010 08:26       3.39     17850.0  United Kingdom
2       01/12/2010 08:26       2.75     17850.0  United Kingdom
3       01/12/2010 08:26       3.39     17850.0  United Kingdom
4       01/12/2010 08:26       3.39     17850.0  United Kingdom
...                  ...        ...         ...             ...
541904  09/12/2011 12:50       0.85     12680.0          France
541905  09/12/2011 12:50       2.10     12680.0          France
541906  09/12/2011 12:50       4.15     12680.0          France
541907  09/12/2011 12:50       4.15     12680.0          France
541908  09/12/2011 12:50       4.95     12680.0          France

[541909 rows x 8 columns]